/***************Enleve les effets chrome sur les input/button********/
input[type=image]:focus {outline:0;}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent; /* For some Androids */ 
} 
/************************************/

body{
	margin: 0;	
	background: #f4f4f4;
}

/***************Section Fieldset********************/
fieldset{
	border-radius: 5px;
	border: 1px solid teal;
    text-transform: capitalize;
    overflow-y: auto;
    padding-right: 1vw;
    padding-left: 1vw;
    box-shadow: 3px 1px 2px 1px #d8d8d8;
}

legend{
    color: royalblue;
    font-weight: bold;
}

#field_User{
    max-height: 87vh;
    overflow-y: auto;
}

/***************Section Formulaire***********************/
form{
    line-height: 150%;
    display: none;
}

form input{
	-webkit-box-sizing: border-box; /* Pour les anciennes versions des navigateurs WebKit */
     -moz-box-sizing: border-box; /* Pour tous les navigateurs Gecko */
		  box-sizing: border-box;
		  width: 100%;

	border-radius: 5px;
	border:none;
	height: 1.3rem;
    padding-left: 0.5rem;
    text-transform: capitalize;
}


input[type=number] {
    -moz-appearance: textfield;
}
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/***********Barre de Menu**********************/
#divIcon{
    position: fixed;
    bottom: 0vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.1);
}

#divIcon input{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 4px 4px 2px -2px #919191;
}


/***********Section Div No User********************/
#div_NoUser{
    text-align: center;
    color: royalblue;
}


#divNewUser{
	text-align: center;
	height: 25vw;
	width: 25vw;
	border-radius: 50%;
	border: ridge 5px teal;
	margin: auto;
	margin-top: 1vh;
    background-color: springGreen;
    box-shadow: 4px 4px 2px -2px #919191;
}


#bt_newUser2{
	width: 20vw;
	height: auto;
	padding-top: 2vw;
	padding-left: 1vw;
}


/********************Section Div Ligne User*********************/
.divLine{
    height: 2rem;
    line-height: 1.8rem;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 0.5vh;
    padding-left: 1vw;
    overflow: hidden; /*Evite le decalage des icones bin et Edit à chaque ligne*/
    box-shadow: 3px 4px 4px -1px #7F7F7F;
}

/*****************Section Span Options*************************/
.spanOptions{
    float: right;
    margin-right: 0;
    cursor: pointer;
}

.spanOptions img{
    width: 1.7rem;
    height: 1.7rem;
}

.bin{
    background-color: #e1f7f7;
}

/***************Section Edit User***********************/
#divEdit{
	text-align: center;
	height: 25vw;
	width: 25vw;
	border-radius: 50%;
    border: ridge 5px teal;
    margin: auto;
    margin-top: 1vh;
    background-color: lightslategray;
    box-shadow: 4px 4px 2px -2px #919191;
}



#bt_edit{
	width: 20vw;
	height: auto;
	padding-top: 3vw;
    padding-left: 1vw;
}

/****************Section Vicipo**********************/
.output a {
    display: block;
    text-decoration: none;
	color: royalblue;
	text-align: left;
}


.output a:hover {
	background: wheat;
}

/*************Section Pop Up********************/
#divPopUp{
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    top: 20%;
    height: 22%;
    border-radius: 5px;
    color: royalblue;

    z-index:1;
    background-color: white;
    text-align: center;
    box-shadow: 3px 4px 4px -1px #7F7F7F;
}

.btPopUp{
    display: flex;
    justify-content: space-around;
}

.btPopUp button{
    border: none;
    width: 30%;
    height: 5vh;
    box-shadow: 4px 4px 2px -2px #919191;
}




