/***************Enleve les effets chrome sur les input/button********/
input[type=image]:focus {outline:0;}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent; /* For some Androids */ 
} 
/************************************/
body{
	margin: 0;	
	background: #f4f4f4;
}

h1{
	border-radius: 10px;
	text-align: center;
	margin: auto;
	font-style: italic;
	color: teal;
	font-size: 1.5rem;
	text-shadow: 2px 1px 2px #919191;
}

/***************Section Fieldset********************/
fieldset{
	border-radius: 5px;
	border: 1px solid teal;
	display: block;
	padding-top: 0;
	text-transform: capitalize;
	box-shadow: 3px 1px 2px 1px #d8d8d8;
}

legend{
	color: royalblue;
	font-weight: bold;
}

/***************Section Formulaire***********************/

form{
	line-height: 180%;
}

form input{
	-webkit-box-sizing: border-box; /* Pour les anciennes versions des navigateurs WebKit */
     -moz-box-sizing: border-box; /* Pour tous les navigateurs Gecko */
		  box-sizing: border-box;
		  width: 100%;

	border-radius: 5px;
	border:none;
	height: 1.5rem;
	padding-left: 0.5rem;
	text-transform: capitalize;
}

input[type=number] {
    -moz-appearance: textfield;
}
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/****************Section Vicipo**********************/
.output a {
    display: block;
    text-decoration: none;
	color: royalblue;
	text-align: left;
}

.output a:hover {
	background: wheat;
}

/*****************Section Bouton Ajouter****************/
#divAjouter{
	text-align: center;
	height: 25vw;
	width: 25vw;
	border-radius: 50%;
	border: ridge 5px teal;
	margin: auto;
	margin-top: 1vh;
	background-color: lightslategray;
	box-shadow: 4px 4px 2px -2px #919191;
}

#ajouter{
	width: 20vw;
	height: auto;
	padding-top: 3vw;
	padding-left: 1vw;
}

/***********Barre de Menu**********************/
#divIcon{
    position: fixed;
    bottom: 0vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.1);
}

#divIcon input
{
    width: 4rem;
	height: 4rem;
	border-radius: 50%;
    box-shadow: 4px 4px 2px -2px #919191;
}



